

	/*STYLE: BOTH*/

	h1 {
		text-align: center;
		background-color: lightblue;
	}

	p {
		text-align: center;
	}

	#page1{
		padding: 20px;
	}

	form{
		width: 300px;
		margin: auto;
	}


	#page2{
		margin-top: -50%;
		padding: 10px;
	}
	h1{
		text-align: center;
	}

	button{
		margin: auto;
		align-content: center;
	}

	#mrt-schedule{
		width: 1000px;
	}

	#page3{
		margin-top: -30%;
	}

	footer{
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: lightblue;
		border: black solid 1px;
		text-align: center;
		font-size: 15px;

	}

	.container{
		text-align: center;
	}

	.form-control{
		width: 300px;
	}
