h1 {
	text-align: center;
	background-color: lightblue;
}

p {
	text-align: center;
}

#page1{
	padding: 20px;
}

form{
	width: 300px;
	margin: auto;
}

h1{
	text-align: center;
}

button{
	margin: auto;
	align-content: center;
}

#mrt-schedule{
	margin-left: 15%;
	margin-top: -50%;
	width: 1000px;
}

#page3{
	margin-top: -45%;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: lightblue;
	border: black solid 1px;
	text-align: center;
	font-size: 15px;

}

.container{
	padding: 10px;
}

.form-control{
	width: 300px;
}
